.modal {
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.modal.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.form-switch {
  transition: all 0.3s ease-in-out;
}

.g_id_signin {
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
}

/* Ensure consistent height for both login and register forms */
#adminLoginForm, #adminRegisterForm {
  max-height: 400px; /* Set a maximum height */
  overflow-y: auto; /* Allow scrolling if content exceeds max height */
  padding: 20px; /* Ensure consistent padding */
}

/* Ensure the modal width is consistent */
#adminModal {
  max-width: 400px; /* Ensure the modal width is consistent */
}
